body{
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;    
    height: 100vh;  

}

form{
    width: 650px;
    padding: 40px 60px;
    border-radius: 5px;
    border: 4px solid rgb(0, 1, 73); 
    background-color: #56c1ff;
    
}
h1{
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;    
     
}